<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Razorpay Web-Integration</title>
	<link rel="icon" href="/img/payment.png" type="image/x-icon">
	<style>
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
	overflow-x: hidden;
}

hr {
	width: 95%;
}

.container {
	width: 1200px;
	margin: auto;
	max-width: 90%;
	transition: transform 1s;
	border-radius: 8px;
}

header img {
	width: 50px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header h1 {
	position: relative;
	left: 20px;
}

header .iconCart {
	position: relative;
	z-index: 1;
	right: 20px;
	cursor: pointer;
}
header .totalQuantity {
	position: absolute;
	top: 0;
	right: -15px;
	font-size: 15px;
	background-color: #b31010;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: #fff;
    font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: translateX(20px);
}

.listProduct {
	margin-top: 60px;
	margin-left: 75px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}
.listProduct .item img {
	width: 300px;
	height: 300px
}

img:hover {
    transform: scale(1.1);
}
img {
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.listProduct .item h4 {
	font-size: 22px;
	font-weight: bold;
	margin: 8px auto;
}
.listProduct .item .price{
	font-size: 16px;
	font-weight: bold;
	margin: 8px auto;
}
.listProduct .item {
	position: relative;
}
.listProduct .item button{
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #b31010;
	color: #fff;
	font-weight: bold;
	width: 40%;
	border: none;
	border-radius: 5px;
	padding: 20px 30px;
	box-shadow: 0 10px 50px #000;
	cursor: pointer;
	transform: translateX(-50%) translateY(25px);
    opacity: 0;
}

.listProduct .item:hover button{
	transition: 0.5s;
	opacity: 1;
	transform: translateX(-50%);
}
.cart {
    color: #fff;
	position: fixed;
	top: 0;
	right: -100%;
	width: 400px;
	height: 100vh;
	background-color: #0e0f11;
	display: grid;
	grid-template-rows: 50px 1fr 50px;
	gap: 20px;
	transition: right 1s;
}
.cart h2 {
	color: #e8bc0e;
	padding: 20px;
	margin: 0;
}
.cart .listCart .item {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}
.cart .listCart img {
	width: 100%;
	height: 70px;
	object-fit: contain;
	border-radius: 10px;
}
.cart .listCart .item .name {
	font-weight: bold;
}
.cart .listCart .item .quantity {
	display: flex;
	justify-content: end;
	align-items: center;
}
.cart .listCart .item .quantity .value{
	margin: 5px;
}
.cart .listCart .item span{
	display: block;
	width: 50px;
	text-align: center;
}
.cart .listCart {
	padding: 20px;
	overflow: auto;
}
.cart .listCart::-webkit-scrollbar{
	width: 0;
}
.cart .buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
}
.cart .buttons div {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
}
.cart .buttons a {
	color: #fff;
	text-decoration: none;
}
.cart .buttons .checkout{
	background-color: #e8bc0e;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

	</style>
</head>
<body>
	<div class="container">
		<header>
			<h1>LIST PRODUCT</h1>
			<div class="iconCart">
				<img src="/img/shopping-cart.png" alt="cart-icon">
				<div class="totalQuantity">0</div>
			</div>
		</header>
    <hr>
	<div class="listProduct">
		<div class="item">
			<img src="/img/T-shirt.png">
			<h4>T-shirt</h4>
			<div class="price">Amount:- Rs. 300</div>
			<button>Add to cart</button>
		</div>

		<div class="item">
			<img src="/img/Shoes.png">
			<h4>Shoes</h4>
			<div class="price">Amount:- Rs. 900</div>
			<button>Add to cart</button>
		</div>

		<div class="item">
			<img src="/img/Jeans.png">
			<h4>Jeans</h4>
			<div class="price">Amount:- Rs. 800</div>
			<button>Add to cart</button>
		</div>

		<div class="item">
			<img src="/img/Shirt.png">
			<h4>Shirt</h4>
			<div class="price">Amount:- Rs. 500</div>
			<button>Add to cart</button>
		</div>

		<div class="item">
			<img src="/img/Blazer.png">
			<h4>Men's Blazer</h4>
			<div class="price">Amount:- Rs. 1500</div>
			<button>Add to cart</button>
		</div>

		<div class="item">
			<img src="/img/kurta-dress.png">
			<h4>Kurta Dress</h4>
			<div class="price">Amount:- Rs. 1200</div>
			<button>Add to cart</button>
		</div>
	</div>
</div>

    <div class="cart">
			<h2>Cart</h2>
			<div class="listCart">
				<div class="item">
					<img src="/img/Shoes.png">
					<div class="content">
						<div class="name">
							Product Name
						</div>
						<div class="price">
							Rs. 500/1 product
						</div>
					</div>
					<div class="quantity">
						<button>-</button>
						<span class="value">3</span>
						<button>+</button>
					</div>
				</div>
			</div>
			<div class="buttons">
				<div class="close">CLOSE</div>
				<div class="checkout">
					<a href="/Checkout">CHECKOUT</a>
				</div>
			</div>
	</div>
		
</body>
</html>

<script>
let iconCart = document.querySelector('.iconCart');
let cart = document.querySelector('.cart');
let container = document.querySelector('.container');
let close = document.querySelector('.close');

iconCart.addEventListener('click', ()=>{
	if(cart.style.right == '-100%'){
		cart.style.right = '0%';
		container.style.transform = 'translateX(-400px)';
	} else {
		cart.style.right = '-100%';
		container.style.transform = 'translateX(0px)';
	}
})
close.addEventListener('click', ()=> {
    cart.style.right = '-100%';
	container.style.transform = 'translateX(0px)';
})

let products = null;
// get data from file json
fetch('/product.json')
    .then(response => response.json())
    .then(data => {
        products = data;
        addDataToHTML();
});

// show datas product in list 
function addDataToHTML() {
    // remove datas default from HTML
    let listProductHTML = document.querySelector('.listProduct');
    listProductHTML.innerHTML = '';

    // add new datas
    if (products != null) { // if has data
        products.forEach(product => {
            let newProduct = document.createElement('div');
            newProduct.classList.add('item');
            newProduct.innerHTML = 
            `<img src="${product.image}" alt="">
            <h2>${product.name}</h2>
            <div class="price">Amount:- Rs.${product.price}</div>
            <button onclick="addCart(${product.id})">Add To Cart</button>`;

            listProductHTML.appendChild(newProduct);
        });
    }
}

// use cookie so the cart doesn't get lost on refresh page
let listCart = {};
function checkCart() {
    var cookieValue = document.cookie
        .split('; ')
        .find(row => row.startsWith('listCart='));
    if (cookieValue) {
        listCart = JSON.parse(cookieValue.split('=')[1]);
    } else {
        listCart = {};
    }
}
checkCart();

function addCart(idProduct) {
    let productsCopy = JSON.parse(JSON.stringify(products));
    // If this product is not in the cart
    if (!listCart[idProduct]) {
        listCart[idProduct] = productsCopy.find(product => product.id == idProduct);
        listCart[idProduct].quantity = 1;
    } else {
        // If this product is already in the cart, increase the quantity
        listCart[idProduct].quantity++;
    }
    document.cookie = "listCart=" + JSON.stringify(listCart) + "; expires=Thu, 31 Dec 2025 23:59:59 UTC; path=/;";

    addCartToHTML();
}

function addCartToHTML() {
    // clear data default
    let listCartHTML = document.querySelector('.listCart');
    listCartHTML.innerHTML = '';

    let totalHTML = document.querySelector('.totalQuantity');
    let totalQuantity = 0;
    // if has product in Cart
    for (let id in listCart) {
        if (listCart[id]) {
            let product = listCart[id];
            let newCart = document.createElement('div');
            newCart.classList.add('item');
            newCart.innerHTML = 
                `<img src="${product.image}">
                <div class="content">
                    <div class="name">${product.name}</div>
                    <div class="price">Amount:- Rs.${product.price} / ${product.quantity} product(s)</div>
                </div>
                <div class="quantity">
                    <button onclick="changeQuantity(${product.id}, '-')">-</button>
                    <span class="value">${product.quantity}</span>
                    <button onclick="changeQuantity(${product.id}, '+')">+</button>
                </div>`;
            listCartHTML.appendChild(newCart);
            totalQuantity += product.quantity;
        }
    }
    totalHTML.innerText = totalQuantity;
}

function changeQuantity($idProduct, $type){
    switch ($type) {
        case '+':
            listCart[$idProduct].quantity++;
            break;
        case '-':
            listCart[$idProduct].quantity--;

            // if quantity <= 0 then remove product in cart
            if(listCart[$idProduct].quantity <= 0){
                delete listCart[$idProduct];
            }
            break;
    
        default:
            break;
    }
    // save new data in cookie
    document.cookie = "listCart=" + JSON.stringify(listCart) + "; expires=Thu, 31 Dec 2025 23:59:59 UTC; path=/;";
    // reload html view cart
    addCartToHTML();
}				
</script>
